.attendees-div {
  padding: 10%;
}

.attendee-avatar {
  height: 50px;
  width: 50px;
}

.singular-attendee-div {
  padding: 5% 0 0 0;
  font-size: 1.6em;

  ion-text {
    padding-left: 2%;
  }
}
